.content {
  padding-top: 19px;
  padding-bottom: 35px;
  border-bottom: 2px solid gray;
}

.content .content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content__left-top {
  background: gray;
  padding: 13px;
}

.content__left-bottom {
  background: gray;
  margin-top: auto;
  height: 12.18182vw;
  min-height: 100px;
  padding: 15px;
}

@media (max-width: 575px) {
  .content__left-bottom {
    margin: 10px 0;
  }
}

.center-content__title {
  font-weight: bold;
}

.block-title {
  background: lightgray;
  padding: 15px;
}

.block-items {
  margin-top: 19px;
  margin-bottom: 17px;
}

.block-items__item-body {
  margin-bottom: 19px;
}

.block-items__item-content {
  background: lightgray;
  padding: 15px;
  text-align: right;
  min-height: 153px;
}

.left-block__body {
  padding: 20px;
  background: lightgrey;
  height: 100%;
}

.right-block__body {
  padding: 20px;
  background: lightgrey;
  height: 100%;
}

.sticky {
  position: fixed;
  z-index: 101;
}

@media (max-width: 575px) {
  .sticky {
    position: relative;
  }
}

.stop {
  position: relative;
  z-index: 101;
}

.footer {
  padding-top: 33px;
  padding-bottom: 35px;
}

@media (max-width: 767px) {
  .footer__content > div {
    margin-bottom: 10px;
  }
}

.footer__menu1 {
  height: 180px;
}

.footer__menu1 ul {
  background: gray;
  height: 100%;
  padding: 13px 25px;
  list-style: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.footer__menu1 ul li {
  width: 50%;
}

.footer__menu2 {
  min-height: 180px;
}

.footer__menu2 ul {
  background: gray;
  height: 100%;
  padding: 13px 40px;
  list-style: square;
  margin: 0;
}

.footer__menu2 ul li {
  color: white;
}

.footer__menu3 .menu3-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
  height: 100%;
}

.footer__menu3 .menu3-body > div {
  background: gray;
  color: white;
  padding: 15px;
}

@media (max-width: 767px) {
  .footer__menu3 .menu3-body {
    gap: 10px;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1100px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header > .container {
  border-bottom: 2px solid gray;
}

.header-body {
  min-height: 154px;
  padding: 22px 0;
}

.header-body > div > div {
  background: gray;
  height: 100%;
  padding: 22px;
  text-align: right;
}

@media (max-width: 767px) {
  .header-body > div {
    margin-bottom: 10px;
  }
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}
